<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "crear_estudiante" %}>Crear Estudiante</a>
        <a href={% url "lista_estudiantes" %}>Lista Estudiantes</a>
    </nav>
    <h1>{{estudiante}}</h1>
    <p>Nombre: {{estudiante.nombre}}</p>
    <p>Curso: {{estudiante.curso}}</p>
    <p>Nota final: {{estudiante.nota_final}}</p>
</body>
</html>