<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "lista_estudiantes" %}>Estudiantes</a>
    </nav>
    <h1>Listado De Estudiantes</h1>
    <p>
        <a href={% url "crear_estudiante" %}>Crear Estudiante</a>
    </p>

    {% if estudiantes %}
    <ul>
        {% for estudiante in estudiantes %}
        <li>
            {{estudiante}}
            | <a href={% url "detalle_estudiante" estudiante.id %}>Ver mas</a>
            | <a href={% url "modificar_estudiante" estudiante.id %}>Modificar</a>
            | <a href={% url "eliminar_estudiante" estudiante.id %}>Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay estudiantes en la base de datos</p>
    {% endif %}
</body>
</html>